<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>All PLayers</title>
    <style>
        .st-sort-ascent:before{
            content: '\25B2';
        }

        .st-sort-descent:before{
            content: '\25BC';
        }
    </style>
<body ng-app="myApp">
<div class ="container">
    <div ng-controller="allPlayersController">
        <table st-table="playerCollection" st-safe-src="playerList" class = "table table-bordered table-striped">
            <thead>

            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="name">Name</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="rimFga">FG Attempts% <8ft</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="rimFgp">FG% <8ft</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="closeFga">FG Attempts% 8-16ft</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="closeFgp">FG% 8-16ft</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="midrangeFga">FG Attempts% 16-24ft</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="midrangeFgp">FG% 16-24ft</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="threeFga">FG Attempts% 24+ft</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="threeFgp">FG% 24+ft</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="ast">Assist Rate</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="tov">Turnover Rate</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="usg">Usage Rate</button>
            </th>

            </thead>
            <tbody>
            <tr ng-repeat = "player in playerCollection">
                <td>{{player.name}}</td>
                <td>{{player.rimFga}}%</td>
                <td>{{player.rimFgp}}%</td>
                <td>{{player.closeFga}}%</td>
                <td>{{player.closeFgp}}%</td>
                <td>{{player.midrangeFga}}%</td>
                <td>{{player.midrangeFgp}}%</td>
                <td>{{player.threeFga}}%</td>
                <td>{{player.threeFgp}}%</td>
                <td>{{player.ast}}%</td>
                <td>{{player.tov}}%</td>
                <td>{{player.usg}}%</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
<script>

    var app = angular.module("myApp",['smart-table']);

    app.controller("allPlayersController", function ($scope, $http) {



        //Get JSON
        query= "http://localhost:8080/getall";
        $.ajax({url: query, crossDomain: true, dataType: 'json', type: 'GET'})
            .done(function (json) {
                $scope.playerList = json;
                console.log($scope.playerList);
                $scope.$apply();
            })
            .fail(function () {
                alert("Error");
            });

    });
</script>
</html>