<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>All PLayers</title>
    <style>
        .st-sort-ascent:before{
            content: '\25B2';
        }

        .st-sort-descent:before{
            content: '\25BC';
        }
    </style>
<body ng-app="myApp">
<div class ="container">
    <div ng-controller="allPlayersController">
        <table st-table="playerCollection" st-safe-src="playerList" class = "table table-bordered table-striped">
            <thead>

            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="name">Name</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="rimFga">{{definitions.rimFga}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="rimFgp">{{definitions.rimFgp}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="closeFga">{{definitions.closeFga}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="closeFgp">{{definitions.closeFgp}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="midrangeFga">{{definitions.midrangeFga}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="midrangeFgp">{{definitions.midrangeFgp}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="threeFga">{{definitions.threeFga}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="threeFgp">{{definitions.threeFgp}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="ast">{{definitions.ast}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="tov">{{definitions.tov}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="usg">{{definitions.usg}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="driveFga">{{definitions.driveFga}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="catchShootFga">{{definitions.catchShootFga}}</button>
            </th>
            <th>
                <button class = "btn btn-link" style="height:100%;width:100%" st-sort="pullupFga">{{definitions.pullupFga}}</button>
            </th>

            </thead>
            <tbody>
            <tr ng-repeat = "player in playerCollection">
                <td>
                    <a ng-href="/details?id={{player._id}}">
                        {{player.name}}
                    </a>
                </td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; {{definitions.rimFga}}">{{player.rimFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots at the rim">{{player.rimFgp}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Fg% 5-10 ft from the basket">{{player.closeFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots taken from 5-10 ft">{{player.closeFgp}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Fg% at 11-24 ft from the basket">{{player.midrangeFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots taken from 11-24 ft">{{player.midrangeFgp}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Fg% of 3 pointers">{{player.threeFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots taken from 3">{{player.threeFgp}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Assist %">{{player.ast}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Turnover %">{{player.tov}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Usage %">{{player.usg}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots that are drives to the basket">{{player.driveFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots that are catch and shoot">{{player.catchShootFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots that are pullup jump shots">{{player.pullupFga}}%</td>

            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
<script>

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

    var app = angular.module("myApp",['smart-table']);

    app.controller("allPlayersController", function ($scope, $http) {


        //Get JSON
        let url= "./getall";
        $.ajax({url , crossDomain: true, dataType: 'json', type: 'GET'})
            .done(function (json) {
                $scope.playerList = json;
                $scope.$apply();
            })
            .fail(function () {
                alert("Error");
            });

        url= "./getdefinitions";
        $.ajax({url , crossDomain: true, dataType: 'json', type: 'GET'})
            .done(function (json) {
                $scope.definitions = json;
                $scope.$apply();
            })
            .fail(function () {
                alert("Error");
            });

    });


</script>
</html>