<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>All PLayers</title>
    <style>
        .st-sort-ascent:before{
            content: '\25B2';
        }

        .st-sort-descent:before{
            content: '\25BC';
        }
        .st-selected {
            background-color: lightskyblue !important;
            color: #fefefe;
        }
        .lr-sticky-header {
            color: white;
            background: lightskyblue;
            transition: all 0.6s;
        }
        #scrollPanel {
            height: 100px;
            overflow-y: auto;
            width: 100px;
        }
        td { width: 180px; text-wrap: normal; word-wrap: break-word;}
        table { width :180px; text-wrap: normal;
            word-wrap: break-word;}
    </style>
<body ng-app="myApp">

    <div ng-controller="allPlayersController">
        <table st-table="playerCollection" st-safe-src="playerList" class = "table table-bordered table-striped" st-sticky-header>
            <thead>

            <th st-sort="name">
                Name
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.rimFga}}" st-sort="rimFga">
                Rim
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.closeFga}}" st-sort="closeFga">
                Close
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.midrangeFga}}" st-sort="midrangeFga">
                Midrange
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.threeFga}}" st-sort="threeFga">
                Three
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.ast}}" st-sort="ast">
                Assist
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.tov}}" st-sort="tov">
                Turnover
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.usg}}" st-sort="usg">
                Usage
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.driveFga}}" st-sort="driveFga">
                Drive
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.catchShootFga}}" st-sort="catchShootFga">
                Catch & Shoot
            </th>
            <th data-toggle="tooltip" data-placement="top" title="{{definitions.pullupFga}}" st-sort="pullupFga">
                Pullup
            </th>

            </thead>
            <tbody>
            <tr st-select-row="player" ng-repeat = "player in playerCollection">
                <td width="120">
                    <a ng-href="/details?id={{player.id}}">
                        {{player.name}}
                    </a>
                </td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; {{definitions.rimFga}}">{{player.rimFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots taken from 5-10 ft">{{player.closeFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots taken from 11-24 ft">{{player.midrangeFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots taken from 3">{{player.threeFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Assist %">{{player.ast}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Turnover %">{{player.tov}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; Usage %">{{player.usg}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots that are drives to the basket">{{player.driveFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots that are catch and shoot">{{player.catchShootFga}}%</td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{player.name}}; % of shots that are pullup jump shots">{{player.pullupFga}}%</td>

            </tr>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Rim
                </th>
                <th>
                    Close
                </th>
                <th>
                    Midrange
                </th>
                <th>
                    Three
                </th>
                <th>
                    ssist
                </th>
                <th>
                    Turnover
                </th>
                <th>
                    Usage
                </th>
                <th>
                    Drive
                </th>
                <th>
                    Catch & Shoot
                </th>
                <th>
                    Pullup
                </th>
            </tr>
            </tbody>

        </table>
    </div>

</body>
<script>

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

    var app = angular.module("myApp",['smart-table']);

    app.controller("allPlayersController", function ($scope, $http) {


        //Get JSON
        let url= "./getall";
        $.ajax({url , crossDomain: true, dataType: 'json', type: 'GET'})
            .done(function (json) {
                $scope.playerList = json;
                $scope.$apply();
            })
            .fail(function () {
                alert("Error");
            });

        url= "./getdefinitions";
        $.ajax({url , crossDomain: true, dataType: 'json', type: 'GET'})
            .done(function (json) {
                $scope.definitions = json;
                $scope.$apply();
            })
            .fail(function () {
                alert("Error");
            });

    });


</script>
</html>