<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class = "container shift-down">
    <h1>Welcome to NBA Player Match</h1>
    <h4>A web application that uses a custom map-reduce algorithm to match you to NBA players who play like you!
        <br/>
        OR
        <br/>
        You can use a machine learning clustering algorithm to group NBA players based on their playstyles!
    </h4>
    <p>
        Click on the links at the top of the page to navigate
        <br/>
        The <a href="/search">"Match Players"</a> link allows you to match your own playstyle to an NBA player's.
        <br/>
        The <a href="/cluster">"Group Players"</a> link allows you to group NBA players based on their playstyles.
        <br/>
        The <a href="/playerlist">"All Players"</a> link allows you to see the stats of NBA players.
        <br/>
    </p>
</div>
</body>
</html>