<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script type="text/javascript" src='/js/search_angular.js'></script>
    <style type="text/css">
        .visible {
            display: block;
            opacity: 1;
            transition: opacity .5s linear;
        }

        .hidden {
            display: none;
            opacity: 0;
            transition: display 0s .5s, opacity .5s linear;
        }

        .shift-right {
            margin-left: 10px;
        }

        .shift-down {
            margin-top: 10px;
        }
    </style>
    <title>Title</title>
</head>
<body data-ng-app="playerSearch">
<h2>{{definitions.rimFga}}</h2>
<div class="container shift-down">
    <div data-ng-controller="mainController">
        <div class="card">

            <div id="page1" class="visible">
                <div class="card-block container">
                    <div class="form-group row">
                        <label for="rimFga" class="col-3 col-form-label">{{definitions.rimFga}}</label>
                        <div class="col-4">
                            <input type="number" id="rimFga"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="closeFga" class="col-3 col-form-label">{{definitions.closeFga}}</label>
                        <div class="col-4">
                            <input type="number" id="closeFga"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="midrangeFga" class="col-3 col-form-label">{{definitions.midrangeFga}}</label>
                        <div class="col-4">
                            <input type="number" id="midrangeFga"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="threeFga" class="col-3 col-form-label">{{definitions.threeFga}}</label>
                        <div class="col-4">
                            <input type="number" id="threeFga"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <button type="button" id="toPage2" class="btn btn-primary col-3 shift-right">Next</button>
                    </div>
                </div>
            </div>
            <div id="page2" class="hidden">
                <div class="card-block container">

                    <div class="form-group row">
                        <label for="rimFgp" class="col-3 col-form-label">{{definitions.rimFgp}}</label>
                        <div class="col-4">
                            <select id="rimFgp" ng-model="rimSelected" ng-options="x.label for x in rim.options">
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="closeFgp" class="col-3 col-form-label">{{definitions.closeFgp}}</label>
                        <div class="col-4">
                            <select id="closeFgp" ng-model="closeSelected" ng-options="x.label for x in close.options">
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="midrangeFgp" class="col-3 col-form-label">{{definitions.midrangeFgp}}</label>
                        <div class="col-4">
                            <select id="midrangeFgp" ng-model="midrangeSelected"
                                    ng-options="x.label for x in midrange.options">
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="threeFgp" class="col-3 col-form-label">{{definitions.threeFgp}}</label>
                        <div class="col-4">
                            <select id="threeFgp" ng-model="threeSelected" ng-options="x.label for x in three.options">
                            </select>
                        </div>
                    </div>

                    <br/>
                    <div class="form-group row">
                        <button type="button" id="toPage3" class="btn btn-primary col-3 shift-right">Next</button>
                    </div>
                </div>
            </div>
            <div id="page3" class="hidden">
                <div class="card-block container">

                    <div class="form-group row">
                        <label for="driveFga" class="col-3 col-form-label">{{definitions.driveFga}}</label>
                        <div class="col-4">
                            <input type="number" id="driveFga"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="CSFga" class="col-3 col-form-label">{{definitions.catchShootFga}}</label>
                        <div class="col-4">
                            <input type="number" id="CSFga"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="pullupFga" class="col-3 col-form-label">{{definitions.pullupFga}}</label>
                        <div class="col-4">
                            <input type="number" id="pullupFga"/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group row">
                        <button type="button" id="toPage4" class="btn btn-primary col-3 shift-right">Next</button>
                    </div>
                </div>
            </div>
            <div id="page4" class="hidden">
                <div class="card-block container">

                    <div class="form-group row">
                        <label for="ast" class="col-3 col-form-label">{{definitions.ast}}</label>
                        <div class="col-4">
                            <select id="ast" ng-model="assistSelected"
                                    ng-options="x.label for x in assist.options">
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tov" class="col-3 col-form-label">{{definitions.tov}}</label>
                        <div class="col-4">
                            <select id="tov" ng-model="turnoverSelected"
                                    ng-options="x.label for x in turnover.options">
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="usg" class="col-3 col-form-label">{{definitions.usg}}</label>
                        <div class="col-4">
                            <select id="usg" ng-model="usageSelected"
                                    ng-options="x.label for x in usage.options">
                            </select>
                        </div>
                    </div>

                    <br/>
                    <div class="form-group row">
                        <button type="button" id="searchButton" class="btn btn-primary col-3 shift-right" ng-click="submit()">
                            search
                        </button>
                    </div>
                </div>
                <br/>
            </div>

            <div id="results" class="hidden">
                <div class="card-block container">
                    <h3>Top 5 Results:</h3>
                    <p data-ng-repeat="player in players">
                        <a ng-href="/details?id={{player.id}}">
                            {{ player.name }}
                            <br/>
                            <img ng-src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/{{player.teamId}}/2017/260x190/{{player.id}}.png"
                                 alt="image not found"
                                 onError="this.onerror=null;this.src='http://sportingindia.com/sites/default/files/profile_picture/blank_headshot_3_64_20.png';"/>
                        </a>
                    </p>
                    <br/>
                    <div class="form-group row">
                        <button type="button" id="backButton" class="btn btn-primary col-3 col-offset-1 shift-right">Back</button>
                    </div>
                </div>
            </div>
            <div class="hidden" id="loading">
                <img src="/loading.gif" width="35%" height="50%"/>

                <h1>&#8194 &#8194 Loading</h1>
            </div>
        </div>
    </div>
</div>
</body>

<script>

    $('#headingOne').collapse('hide')


    $("#toPage2").click(function () {
        showPage("page2",500)
    });

    $("#toPage3").click(function () {
        showPage("page3",500)
    });
    $("#toPage4").click(function () {
      showPage("page4",500)
    });

    $("#searchButton").click(function () {
        showPage("results",1500)
    });

    $("#backButton").click(function () {
        showPage("page1",500)
    });

    function showPage(page,time){
        $("#page1").attr('class', 'hidden');
        $("#page2").attr('class', 'hidden');
        $("#page3").attr('class', 'hidden');
        $("#page4").attr('class', 'hidden');
        $("#results").attr('class', 'hidden');
        $("#loading").attr('class', 'visible');
        setTimeout(function () {
            $("#"+page).attr('class', 'visible')
            $("#loading").attr('class', 'hidden')
            ;
        }, time)
    }
</script>
</html>